@model StartWebSiteEnglish.Models.User

@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Main.cshtml";
}

@section Body{
    <h1>Admin page </h1>

    <a href="/Admin/AddMaterial">Add texts</a>
    <a href="/Admin/AddGrammer">Add grammer</a>
}
