@using StartWebSiteEnglish.Models
@model ApplicationUser

@{
    Layout = "~/Views/Shared/_Main.cshtml";
    ViewBag.Title = "Профиль";
    @section UserInfo{
    }

    //User user = Session["User"] as User;

}

@section Links{
    <link href="~/Content/UserPage/dictionaty_style.css" rel="stylesheet" />
    <link href="~/Content/UserPage/main.css" rel="stylesheet" />
    <link href="~/Content/UserPage/user_style.css" rel="stylesheet" />
}


@section Body{

    <script type="text/javascript">
        //Функция показа


        function showDictionary(state, page, checkState) {
            document.getElementById('window').style.display = state;
            document.getElementById('wrap').style.display = state;
            document.getElementById('title').innerText = page;
            //document.getElementById('check').style.display = checkState;


        }
        function showLearn(state) {

            document.getElementById('windowLearn').style.display = state;
            document.getElementById('wrap').style.display = state;
        }
    </script>

    <div>
        <div id="wrap" style="display: none;"></div>

        <div id="windowLearn" style="display: none;">
            @Html.Partial("LearnDictionary")
        </div>
        <div id="window" style="display: none;">
            @Html.Partial("Dictionary")
        </div>
        <div class="user-profile" style="width: 80%;">
            <div class="col-sm-12" style="display:flex; ">
                <div class="col-sm-12 col-sm-8" style="text-align: left">
                    @*<h2>@Model.UserName</h2>*@
                    <h2>Сергей Иванов</h2>
                    @*<p><strong>Email </strong> @Model.Email </p>*@
                    <p><strong>Email </strong> vika.bondareva.2014@mail.ru </p>
                    <p><strong>Уровень </strong> Beginer </p>
                    <div class="progress orange" style="width: 60%; margin-top:50px;">
                        <div class="progress-bar" style="width:60%; background:#fe3b3b;">
                            <div class="progress-value">60%</div>
                        </div>
                    </div>
                    <!-- <p><strong>Знания: </strong>
                    <span class="tags">HTML5</span>
                    <span class="tags">CSS3</span>
                    <span class="tags">jQuery</span>
                    <span class="tags">Bootstrap</span>
                    </p> -->
                </div>

                <div class="col-xs-12 col-sm-8 text-center">
                    <div class="setting-user">
                        <a class="link-setting" href="/User/Setting">
                            <div>
                                <i class="fas fa-cog"></i>
                            </div>
                        </a>
                    </div>
                    <figure>
                        <div class="avatar user">
                            <i class="fas fa-user"></i>
                        </div>
                    </figure>

                </div>
                <!-- Setting -->


            </div>
            <div class="col-xs-12 divider text-center">
                <div class="col-xs-12 col-sm-4 emphasis">
                    <h2><strong> 500 </strong></h2>
                    <p><small>Слов выучено</small></p>
                    <button class="btn btn-success btn-block" id="ready" name="ready" onclick="showDictionary('block', 'Изученные слова','none')">
                        Посмотреть
                    </button>
                </div>
                <div class="col-xs-12 col-sm-4 emphasis">
                    <h2><strong>723</strong></h2>
                    <p><small>Слов на изучении</small></p>
                    <button class="btn btn-info btn-block" id="learn" name="learn" onclick="showDictionary('block','Слова на изучении', 'block')">
                        Просмотреть
                    </button>
                </div>
                <div class="col-xs-12 col-sm-4 emphasis">
                    <h2><strong>2500</strong></h2>
                    <p><small>Словарный запас</small></p>
                </div>
            </div>
        </div>

    </div>

}
